<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="con" connectionString="Data Source=MSI-TRUONG\SQLEXPRESS;Initial Catalog=BTL_QuanLySinhVien_Nhom_G02;Integrated Security=True" />
  <add name="BTL_QUANLYSINHVIEN.Properties.Settings.BTL_QuanLySinhVien_Nhom_G02ConnectionString"
   connectionString="Data Source=MSI-TRUONG;Initial Catalog=BTL_QuanLySinhVien_Nhom_G02;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>